/*styles for biosite project*/

body{
    color: rgb(31,73,125);   
}

h1{
    font-family: 'Indie Flower';
    font-size: 6em;
    text-align: center;
    margin-bottom: 0px;
    margin-top: auto;
    padding-bottom: none;
}


h2{
    font-size: 2em;
    font-family:'Margarine';
    text-align: center;
    padding: none;
    border-collapse: collapse; 
    margin-top: 0px;
}

h3{
    font-size: 1.5em;
    font-family: 'Margarine';
    list-style-type: none;
}

ul{
    margin-top: auto;
}

li{
    text-align: center;
    font-size: 2em;
    list-style-type: none;
    font-family: "Margarine";
    color: rgb(155,187,89)
}

article {
    padding: 1em;
    text-align: center;
    display: block;
    
}

p{
    font-size: 1.25em;
    font-family: 'Poiret One', sans-serif;
    font-weight: bold;
}

#imgdiv{
    column-count: 3;
    -webkit-column-width: 250px;
    -moz-column-width: 250px;
    column-width: 250px;
   
}

#img1{
        margin: auto 4em auto 4em;
    }

#img2{
    margin: auto 4em;
}

#img3{
    margin: auto 4em auto 4em;
}

.topimages {
    width: 250px;
    height: 400px;
    padding: 1em;
    border-style: solid;
    border-width: 1em;
    border-color: rgb(207, 150, 148);
    border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
    -moz-border-radius:1em 4em 1em 4em / 2em 1em 2em 1em;
    -webkit-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
    
    float: left;
}

a{
    text-decoration: none;
    color:rgb(155,187,89)
}

a:visited{
    color: rgb(247, 150,70);
    text-decoration:none;
    
}

a:hover{
    color: rgb(75,172,198);
    text-decoration: none;
}

div p {
    text-align: center;
    font-size: 1.25em;
}

#familyimg{
    width: 750px;
    padding: 1em;
    border-style: solid;
    border-width: 1em;
    border-color: rgb(207, 150, 148);
    border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
    -moz-border-radius:1em 4em 1em 4em / 2em 1em 2em 1em;
    -webkit-border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
    
}

    
    
    
    




